#rule-graph {
    width:100%;
    height:480px;
    border: 1px solid black;
}

div.vis-network {
    background-color: #f7f7f7;
  }

legend {
    background-color: white;
    width: 100%;
    height: 80px;
}

legend h4 {
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0 5% 0;
}

#legend-box {
    width: 20%;
    height: 100%;
    padding: 0.5%;
    float:left;
}

#legend-wrapper {
    width: 100%;
    margin: 0 auto;
}

#legend-crit span {
    width: 25%;
    text-align: center;
    font-size: 0.9em;
    float:left;
}

#legend-square-wrapper {
    display:block;
    width: 50%;
    float:left;
}

.legend-square {
    float: left;
    width: 25%;
    height: 20px;
    margin: 0;
    padding: 0;
}

.crit-low {
    background-color: yellow;
}

.crit-medium {
    background-color: orange;
}

.crit-high {
    background-color: orangered;
}

.crit-extreme {
    background-color: red;
}

#legend-violations div {
    float:left;
    width:33%;
}

dt {
    width: 20%;
    height: 15px;
    float: left;
    clear: left;
    margin-bottom: 10px;
}

dt, dd {
    display: inline-block;
    height: 15px;
}

dd {
    margin: 0;
    font-size:0.9em;
    padding-left: 15px;
    margin-bottom: 10px;
    width: 55%;
}

dt hr{
    border: 0;
    border-bottom: 3px solid;
    border-color: black;
}

.handling {
    border-style: solid;
}

.throwing {
    border-style: dashed;
}

.signaling {
    border-style: dotted;
}